.lists {
  /* text-align: center; */
  height: 30%;
  margin-bottom: 10px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.img {
  width: 50px;
  height: 30px;
}
