.lists {
  /* text-align: center; */
  height: 30%;
  margin-bottom: 10px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.img {
  width: 50px;
  height: 30px;
}

.img1 {
  width: 120px;
  height: 150px;
  box-shadow: 10px 5px 5px black;
}

.img11 {
  width: 420px;
  height: 120px;
  box-shadow: 20px 15px 5px black;
}

.skan {
  margin-top: 2px;
  margin-bottom: 2px;
}
.mais {
  width: 50px;
  height: 30px;
  margin-top: 4px;
}

.button-mais {
  border-radius: 10px;
  cursor: pointer;
  width: 90px;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
  margin-left: 90%;
}

.li-filter {
  margin:auto;
  font-size:large;
  display: flex;
  flex-direction: column;
};

.options {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: rgb(190, 85, 85);
}
.logout {
  display: flex;
  flex-wrap: wrap;
  margin-right: 10%;
}

.coverbook {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

