body {
  background-color: rgb(111, 113, 112);
}
.App {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 100px 100px 100px;
 /*  border: 2px solid black; */
  border-radius: 5px;
  background-color: rgb(105, 144, 131);
}
.email {
  width: 250px;
  height: 30px;
  margin-bottom: 30px;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: black;
  font-size: larger;
}

.password {
  width: 250px;
  height: 30px;
  margin-bottom: 10px;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
  color: black;
}

.button {
  cursor: pointer;
  width: 255px;
  height: 30px;
  text-align: center;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
}

.title {
  margin-top: 20px;
}

.link {
  margin-right: 150px;
  margin-bottom: 30px;
  text-decoration:none;
}
.form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.create-user {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 200px 100px 150px;
  border-radius: 5px;
  background-color: rgb(105, 144, 131);
}

.submit {
  cursor: pointer;
  width: 80px;
  height: 30px;
  text-align: center;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
}

.cancelar {
  cursor: pointer;
  width: 100px;
  height: 30px;
  text-align: center;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
  margin-left: 100px;
}

.div-form {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  background-color: darkgray;
  justify-content: space-between;
  height: 100px;
}

.book {
  margin-left: 150px;
}
.search {
  margin-right: 650px;
}

.list {
  /* text-align: center; */
  height: 50%;
  margin-bottom: 10px;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

li {
  list-style-type: none;
}

.li {
  margin-left: 20px;
  font-size: 35px;
}
.div-button {
  display: flex;
  justify-content: space-between;
  width: 300px;
  height: 30px;
  margin-top: 10px;
  margin-right: 20px;
}
.button-list {
  border-radius: 10px;
  cursor: pointer;
  width: 90px;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
}
.Link {
  text-decoration:none;
}

.filtered {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0 auto;
  /* margin-left: 38%; */
 /*  border: 1px solid black; */
  padding: 0px 100px 0px 100px;
  background-color: darkgray;
  margin-bottom: 15px;
}

.li-exchange {
  margin-left: 40px;
  margin-top: 2px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
};
