.App {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px 100px 100px 100px;
 /*  border: 2px solid black; */
  border-radius: 5px;
  background-color: rgb(163, 200, 189);
}
.email {
  width: 250px;
  height: 30px;
  margin-bottom: 30px;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  color: black;
  font-size: larger;
}

.password {
  width: 250px;
  height: 30px;
  margin-bottom: 100px;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
  color: black;
}

.button {
  width: 255px;
  height: 30px;
  text-align: center;
  background-color: rgb(208, 201, 201);
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  font-size: larger;
}

.title {
  margin-top: 20px;
}